{:mysql
 {:password      "verysecret"
  :user          "user"
  :root-password "root-pw"
  :db            "sample_db"}

 :postgresql
 {:password "verysecret"
  :user     "user"
  :db       "sample_db"}

 :debezium
 {}}
